.App {
  text-align: center;
  background-color: #d69c76;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman";
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.MainPage .chess-board { 
  border-spacing: 0; 
  border-collapse: collapse;
}
.MainPage .chess-board th + th { 
  border-bottom: 1px solid #000; 
}
.MainPage .chess-board th:first-child,
.MainPage .chess-board td:last-child { 
  border-right: 1px solid #000; 
}
.MainPage .chess-board tr:last-child td { 
  border-bottom: 1px solid #000; 
}
.MainPage .chess-board .light { 
  background: rgb(255, 177, 141);
}
.MainPage .chess-board .dark { 
  background: #a07457; 
}