body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  background-color: #d69c76;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman";
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.main-page .chess-board { 
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0; 
  border-collapse: collapse;
}
.main-page .chess-board .light { 
  background: rgb(255, 177, 141);
}
.main-page .chess-board .dark { 
  background: #a07457; 
}

.game-menu{
  margin-top: -25%;
  margin-left: -85%;
}

button{
  background-color: #b88767;
  font-size: 50px;
  border-radius: 12px;
  padding: 0;
  border: none;
  padding: 20px 49px;
  box-shadow: -3px -3px #b88767;
}
button:hover{
  background-color: #d69c76;
}

.sidebar{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 2000px;
  z-index: 1;
  top: -500px;
  left: 46%;
  background-color: #b88767;
  overflow-x: hidden;
}

.button{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 400px;
  z-index: 1;
}

.username{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 450px;
  z-index: 1;
}

.password{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 480px;
  z-index: 1;
}

.login-button{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 550px;
  z-index: 1;
}

.register-button{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 600px;
  z-index: 1;
}

.logged-in{
  position: relative;
  display: flex;
  flex-direction: column;
  top: -1050px;
  left: 300px;
}

.real-chess{
  position: relative;
  display: flex;
  flex-direction: column;
  top: -1050px;
  left: 300px;
}